<p>
 <h3><span class="label label-default">Posts By User</span></h3>
</p>
<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
	<h4> <%= link_to post.title, post %></h4>
	 <hr>
<% end %>

<p>
 <h3><span class="label label-default">Comments By User</span></h3>
</p>


<% @comments.each do |comment| %>
	<h4> <%= link_to comment.content, comment.post %></h4>
	 <hr>
<% end %>
