<div class="row">
	<div class="col-md-2"><strong></strong>line_item.product.sku</div>
	<div class="col-md-2"><strong></strong>line_item.product.price</div>
	<div class="col-md-2"><strong></strong>line_item.quantity</div>

</div>