/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

form {
  background: "#bfbfbf"
}
body{
  background-color: #bfbfbf;
}
input[type=submit] {
    width: 20em;  height: 3em;
    font-size: 15px;
}
input, textarea, select, button, submit {
  height: 2em;
  width: 30em;
  font: 2em;
}
table tr:nth-child(odd){
  background-color: #cc9c00;
  color: #fff;
}
table tr:nth-child(even){
  background-color: #ffbf00;
  color: #fff;
}
h3 {
    display: inline;
    font-size: 2em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
/*flash*/
.alert-error {
    background-color: #ff3333;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    font-size: 30px;
 }

.alert-alert {
    background-color: #ff3333;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    font-size: 20px;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    font-size: 20px;
 }

.alert-danger {
    background-color: #ff6666;
    border-color: #d6e9c6;
    color: #ffffff;
    text-align: left;
    font-size: 20px;
 }
 .menu{
   background-color: #4dd2ff;
   border-color: #d6e9c6;
   color: #ffffff;
   text-align: right;
   height: 40px;
   font-size: 20px;
}
