<div class="page-header">
  <h1>Abou Us</h1>
</div>
<p>

	Before the internet came into existence, most business transactions occurred after a face-to-face meeting. The prospective customer would talk with a sales person or business owner to learn about the company and determine if he felt comfortable doing business with them. Of course, that’s not the case today.<br />

<p>Much of today’s business is transacted over the web and without an in-person meeting. For that reason, your About Us page must do more than communicate what’s special about your company’s products or services; it also must inspire trust because without trust, you’ll never get the prospect to reach for his wallet.</p>

</p>
