<div class="page-header">
  
  <h1>All posts</h1>

</div>

<table class="container">

	

<% @posts.each do |post| %>
<tr>
<td><%= link_to post.title, post %></td>


</tr>
	<%# if current_user.id == post.user_id %>
<td>Created By: <%= post.try(:user).try(:username) %></td>
<%# end %>


<% end %>

          


</table>

<h3>Categories</h3>
<%= render 'list' %>

