<div class="col-md-8 col-md-offset-2">
  <div class="message-show">
    <h1>Edit Message</h1>
    <%= render 'form' %>
    <div class="links btn-group">
      <%= link_to 'Back', root_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
