<p id="notice"><%= notice %></p>
 <h3><span class="label label-default">Posts having <%= @category.name %> Category</span></h3>
<% @posts.each do |post| %>
	<h3> <%= link_to post.title, post %></h3>
	 <hr>
<% end %>
