<div class="page-header">
  <h1>About Us</h1>
</div>

<p>Why the "About Us" Page Rocks: It's lovable and memorable.</p>

<p>What's the difference between "average" marketing and lovable marketing? It's the difference between creating generic webpages that provide great information, but in a straightforward, black-and-white kind of way -- versus creating webpages that provide great information and are infused with color, personality, and stay true to a company's unique brand voice. When you create lovable marketing, you can start a movement of brand evangelists and advocates who will help you grow.</p>

<p>Where does this fit into a company's "About Us" page? The folks at Bulldog, a men's skincare company that was named for the colloquial "man's best friend" -- a dog -- could have typed up a few paragraphs about where the brand came from and how they were one of the first in the space to redefine and eliminate stereotypes around men's grooming. But that text alone would have been a bit, well, average</p>


