<h1><span class="label label-default">Support</span></h1>
<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'View list', todos_path   %></li>
  <li><%= link_to 'New todo', new_todo_path  %></li>
  <li class="active"><%= link_to 'Support', support_todos_path  %></li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-xs-8" style="background: #ffebcc">
      <p style="display: inline-block" >
        For Customer Support contact us on <a href="#">sachin.bhoi@anchanto.com</a>
      </p>
    </div>
  </div>
</div>
