
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<% comment.tags.each do |t| %>
 	<p> <%= t.name %>
 <% end %>
 
<p>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>