<h1><span class="label label-default">About</span></h1>

<ul class="nav nav-tabs inline" role="tablist"  >
  <li class="active"><%= link_to 'About', '/about'   %></li>
  <li><%= link_to 'contact', '/contact'  %></li>
  <li ><%= link_to 'Support', '/support'  %></li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-xs-8" style="background: #ffebcc">
      <h1 style="display: inline-block">About our <small> A TODO Application.</small></h1>
      <p style="display: inline-block">
        This app developed by the <a href="https://github.com/spbhoi"> <mark>Sachin Bhoi</mark></a>, ROR trainee at <a href="http://www.anchanto.com/"><mark> Anchanto services pvt.ltd.</mark></a>
        <br>This App store the todo task...
      </p>
    </div>
  </div>
</div>
