<h1><span class="label label-default">Contact Us</span></h1>
<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'About', '/about'   %></li>
  <li class="active"><%= link_to 'contact', '/contact'  %></li>
  <li ><%= link_to 'Support', '/support'  %></li>
</ul>
<div class='container'>
  <div class="row">
    <div class="col-xs-8" style="background: #ffebcc ">

      <%= image_tag "contact.png" %>
    </div>
  </div>
</div>
